@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

form {
	flex-grow: 1;
}

.story {
	margin: 10px 0px;
}
.story-creator {
  	font-size: 20px;
  	font-weight: 600;
}
.story-content {
	font-size: 40px;
}
.story-comments {

}
.comment-creator {
	font-weight: 600;
}
.reviewcard{
	font-size: 15px;
}
.reviewcreator{
	font-size: 20px;
}
.feed-container {
	padding: 1rem 0;
}

.circle-avatar{
	/* make it responsive */
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	/* div height to be the same as width*/
	padding-top:100%;

	/* make it a circle */
	border-radius:50%;

	/* Centering on image`s center*/
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;

	/* it makes the clue thing, takes smaller dimension to fill div */
	background-size: cover;

	/* it is optional, for making this div centered in parent*/
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.large-profile-container {
	padding: 0 35%;
}

.navbar-brand{
  font-family:"Roboto",sans-serif;
  font-size:48px;
}



#map {

	height: 80vh;
	width: 75vw;
	float: right;

  border: 5px solid #01B2FE;
  margin-left: auto;
  margin-right: 20px;
  margin-top:20px;
  margin-bottom:20px;

  border-radius: 8px;
  /* min-width:200px;
  width:50%;
  min-height: 200px;
  height: 80%;
  border: 1px solid blue;    */
}
#nav {
	height: 10vh;
	width: 100vw;
}

.bathtile {
	height: 10vh;
	width: 10vw;
  font-size: 40px;
  /* margin-left: 350px; */
  text-align:center;

  /* background-color: red; */
}

#location{
  font-size:40px;
  width:350px;
  /* background-color: grey; */
  /* border-radius: 10px;
  border: 5px solid grey; */
}

#building{
  font-size:55px;
  margin-left: 20px;
}
.bathpic{
	height: 50vh;
	width: 50vw;
}
.reviewtitle{

}

#Top{
  font-size: 40px;

}